<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stack View Sample App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E74E776F1E0A4C7200F72ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74E77831E0A4C7300F72ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74E778E1E0A4C7300F72ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
